.column{
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}
@media screen and (max-width:650px){
  .column{
    width: 100%;
    display: block;
  }
}
.container{
  padding: 0 16px;
}
.row{
  box-sizing: border-box;
}
.container::after, .row::after{
  content: "";
  clear: both;
  display: table;
}
p{
  font-family:  'Atma', cursive;
  font-size: 20px;
}
h1{
  font-family: 'Ribeye', cursive;
  text-align: center;
  color: blue;
}
h2{
  font-family: 'Ribeye', cursive;
}
nav li{
  width: 100%;
  float: right;
  color: white;
  display: inline-block;
}
@media screen and (max-width:500px){
  nav{
    float: none;

  }
}
