.topnav{
  text-align: right;
}
.topnav ul{
  list-style: none;
}
.topnav li{
  display: inline-block;
  margin-right: 30px
}
.topnav a{
  text-decoration: none;
  text-transform: uppercase;

}
.topnav a:hover{
  background-color:black;
}

.column{
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}
@media screen and (max-width:650px){
  .column{
    width: 100%;
    display: block;
  }
}
.container{
  padding: 0 16px;
}
.row{
  box-sizing: border-box;
}
.container::after, .row::after{
  content: "";
  clear: both;
  display: table;
}
p{
  font-family:  'Atma', cursive;
  font-size: 20px;
}
h1{
  font-family: 'Ribeye', cursive;
  text-align: center;
  color: blue;
}
h2{
  font-family: 'Ribeye', cursive;
}
